.item-wrapper {
  display: flex;
  position: relative;
  padding-bottom: 2rem;
  margin-bottom: 2rem;
}

.close {
  right: 0;
  top: -0.2rem;
  position: absolute;
  line-height: 1;
  font-size: 2rem;
}

.item-wrapper:not(:last-of-type) {
  border-bottom: var(--primary-grey) solid 1px;
}

.image-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 8rem;
  max-width: 10rem;
  height: 15rem;
}

.image {
  max-width: 100%;
  max-height: 100%;
}

.image:hover {
  transform: scale(1.1);
}

.item-details {
  width: 100%;
  margin-left: 3rem;
}

.close:hover,
.item-details__product-name a:hover {
  color: var(--primary-main-dark);
}

.item-details__product-name {
  font-size: 1.25rem;
  margin-right: 2rem;
}

.item-details__product-id {
  font-size: 1rem;
  opacity: 0.6;
  margin-bottom: 1rem;
}

.item-details__price {
  font-size: 1.5rem;
  font-weight: bold;
  color: var(--primary-main-dark);
  margin-bottom: 0.5rem;
}

.item-details__footer {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.footer__quantity {
  margin-bottom: 0;
  width: 11rem;
}

.footer__subtotal {
  font-size: 1.25rem;
}

.subtotal__value {
  font-weight: bold;
}

@media (max-width: 650px) {
  .item-details__footer {
    display: block;
  }
  .footer__quantity {
    margin-bottom: 1rem;
  }
}

@media (max-width: 576px) {
  .item-details__product-name {
    font-size: 1rem;
  }
  .item-details {
    margin-left: 2rem;
  }
}

@media (max-width: 400px) {
  .item-wrapper {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  .item-details {
    margin-left: 0;
  }
  .item-details__product-name {
    margin-right: 0;
    margin-bottom: 0.5rem;
  }
  .footer__quantity {
    width: 100%;
  }
}
