.wrapper {
  position: relative;
  width: 30rem;
  padding: 2rem;
}

.close-button {
  position: absolute;
  right: 0;
  top: 0;
  background-color: transparent;
  outline: none;
  border: none;
  font-size: 2rem;
  color: grey;
  padding: 0.5rem 1rem;
  cursor: pointer;
  line-height: 1;
}

.close-button:hover {
  color: var(--primary-black);
}

.header {
  padding: 0 2rem;
  margin-bottom: 1.5rem;
  text-align: center;
}

.header__icon {
  font-size: 4rem;
  display: inline-block;
  margin-bottom: 1rem;
}

.body {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1.5rem;
}

.cart-subtotal-label {
  font-weight: bold;
}

.cart-subtotal-value {
  font-weight: bold;
}

.actions {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 1rem;
}

.wrapper--error .header__icon {
  color: rgb(197, 9, 9);
}
.wrapper--info .header__icon {
  color: rgb(0, 89, 190);
}
.wrapper--success .header__icon {
  color: rgb(31, 139, 31);
}
.wrapper--warning .header__icon {
  color: rgb(170, 111, 0);
}
/* .wrapper--error .header__icon {
  color: rgb(197, 9, 9);
}
.wrapper--info .header__icon {
  color: rgb(0, 89, 190);
}
.wrapper--success .header__icon {
  color: rgb(31, 139, 31);
}
.wrapper--warning .header__icon {
  color: rgb(170, 111, 0);
} */

@media (max-width: 768px) {
}

@media (max-width: 480px) {
  .wrapper {
    width: 90vw;
  }
  .heading {
    font-size: 1.25rem;
  }
  .actions {
    grid-template-columns: 1fr;
    row-gap: 1rem;
  }
}
