.wrapper {
  position: fixed;
  width: 30rem;
  max-width: 100%;
  z-index: 1500;
  margin-top: 7.5rem;
  left: 50%;
  padding: 0 1rem;
  transform: translateX(-50%);
}

.enter {
  opacity: 0;
}

.enterActive {
  opacity: 1;
  transition: opacity 0.5s ease-in-out;
}

.exit {
  opacity: 1;
}

.exitActive {
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
}
