.enterStart {
  opacity: 0;
}

.enterInProgress {
  animation: fade-in 0.2s ease-in forwards;
}

.exitInProgress {
  animation: fade-in reverse 0.2s ease-in forwards;
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
