.enter-animate {
  animation: fade-in 0.5s ease-in forwards;
}

.exit-animate {
  animation: fade-in reverse 0.5s ease-in forwards;
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
