/* Note: animation time defined in Animate.js */
.enter-fade {
  animation: fade ease-in forwards;
}

/* Note: animation time defined in Animate.js */
.exit-fade {
  animation: fade reverse ease-in forwards;
}

@keyframes fade {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}