/* Default 'fade' animation */

.enter-fade {
  animation: fade 0.2s ease-in forwards;
}

.exit-fade {
  animation: fade 0.2s reverse ease-in forwards;
}

@keyframes fade {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

