.wrapper {
  padding: 1.5rem;
  text-align: center;
  cursor: pointer;
}

.image-wrapper {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 15rem;
  text-align: right;
}

.image {
  max-width: 75%;
  max-height: 100%;
}

.wishlist-toggle {
  position: absolute;
  display: inline-block;
  font-size: 1.5rem;
  top: 0;
  right: 0;
}

.heading {
  font-size: 1.5rem;
  font-weight: normal;
  margin-top: 0.5rem;
}

.price {
  font-size: 1.5rem;
  font-weight: bold;
  color: var(--primary-main-dark);
}
