.wrapper {
  text-align: center;
}

.icon {
  font-size: 7rem;
  display: inline-block;
  margin-bottom: 2rem;
}

.icon--error {
  color: var(--danger-dark);
}

.icon--info {
  color: var(--primary-main-dark);
}
