.grid-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 3rem;
}

.image-wrapper {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  max-height: 100vh;
  text-align: right;
  justify-self: center;
  padding: 2rem;
}

.image {
  width: 20rem;
}

.wishlist-toggle {
  position: absolute;
  display: inline-block;
  font-size: 1.5rem;
  top: 0;
  right: 0;
}

.category {
  font-size: 1.5rem;
  opacity: 0.6;
  text-transform: capitalize;
}

.product-id {
  font-size: 1rem;
  opacity: 0.6;
  margin-bottom: 1rem;
}

.price {
  font-size: 2rem;
  font-weight: bold;
  color: var(--primary-main-dark);
  margin-bottom: 0.5rem;
}

.descr {
  margin-bottom: 1rem;
}

.quantity {
  margin: 0;
}

.action-wrapper {
  margin-top: 1rem;
  display: grid;
  grid-template-columns: 1fr;
  row-gap: 1rem;
}

.add-to-cart-form {
  display: flex;
  align-items: flex-end;
}

.add-to-cart-form > * {
  margin: 0;
}

.add-to-cart-button {
  width: 100%;
  margin-left: 1rem;
}

@media (max-width: 900px) {
  .grid-wrapper {
    grid-template-columns: 1fr;
  }
  .image {
    max-width: 90%;
  }
}

@media (max-width: 440px) {
  .add-to-cart-button svg {
    display: none;
  }
}
