.control-wrapper {
  display: flex;
  flex-direction: column;
  margin-bottom: 0.5rem;
}

.control__label {
  margin-bottom: 0.5rem;
  color: var(--primary-black);
  opacity: 0.8;
}

.control__input,
.control__select {
  width: 100%;
  padding: 0.5rem 1.5rem;
  border-radius: 0.5rem;
  border: var(--primary-grey) 1px solid;
  line-height: inherit;
  font: inherit;
}

.control__select {
  /* remove default chevron */
  -moz-appearance: none;
  -webkit-appearance: none;
  /* add new chevron */
  background-repeat: no-repeat;
  background-size: 1rem;
  background-position: right 1rem top 0.75rem;
}

.control__input:focus,
.control__select:focus {
  box-shadow: 0px 0px 9px 2px var(--primary-grey);
  outline: none;
}

.control__input::placeholder {
  font: inherit;
  color: var(--primary-black);
  opacity: 0.4;
}

/* .input-wrapper--valid .input__input {
  border-color: var(--green);
}
.input-wrapper--valid .input__input:focus {
  box-shadow: 0px 0px 18px -5px var(--green);
}
.input-wrapper--invalid .input__input {
  border-color: red;
}
.input-wrapper--invalid .input__input:focus {
  box-shadow: 0px 0px 18px -5px red;
}

.input__feedback--valid {
  color: var(--green);
}
.input__feedback--invalid {
  color: red;
} */
