.wrapper {
  display: flex;
  flex-direction: column;
  margin-bottom: 0.5rem;
}

.label,
.feedback {
  margin-bottom: 0.5rem;
  color: var(--primary-black);
  opacity: 0.6;
}

.label {
  font-weight: bold;
}

.feedback {
  margin-top: 0.25rem;
}

.input,
.select {
  width: 100%;
  padding: 0.5rem 1.5rem;
  border-radius: 0.5rem;
  border: var(--primary-grey) 1px solid;
  line-height: inherit;
  font: inherit;
}

.number-wrapper {
  position: relative;
  width: 11rem;
}

.number__minus,
.number__plus {
  position: absolute;
  width: 3.5rem;
  padding: 0.5rem;
  line-height: inherit;
  font: inherit;
  font-size: inherit;
  border: var(--primary-grey) 1px solid;
  background-color: var(--primary-main-light);
  cursor: pointer;
}

.number__minus {
  left: 0;
  border-radius: 8px 0px 0px 8px;
}

.number__plus {
  right: 0;
  border-radius: 0px 8px 8px 0px;
}

.number-wrapper input[type="number"] {
  text-align: center;
}

.number-wrapper input[type="number"]::-webkit-outer-spin-button,
.number-wrapper input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.number-wrapper input[type="number"] {
  -moz-appearance: textfield; /* Firefox */
}

.select {
  /* remove default chevron */
  -moz-appearance: none;
  -webkit-appearance: none;
  /* add new chevron */
  background-repeat: no-repeat;
  background-size: 1rem;
  background-position: right 1rem top 0.75rem;
}

.input:focus,
.select:focus {
  box-shadow: 0px 0px 10px -2px var(--primary-grey);
  outline: none;
}

.input::placeholder {
  font: inherit;
  color: var(--primary-black);
  opacity: 0.4;
}

/* .wrapper--valid .label,
.wrapper--valid .feedback {
  color: var(--primary-green);
}
.wrapper--valid input,
.wrapper--valid textarea,
.wrapper--valid select {
  border-color: var(--primary-green);
}
.wrapper--valid input:focus,
.wrapper--valid textarea:focus {
  box-shadow: 0px 0px 18px -5px var(--primary-green);
} */

.wrapper--invalid .label,
.wrapper--invalid .feedback {
  color: var(--primary-red);
}
.wrapper--invalid input,
.wrapper--invalid textarea,
.wrapper--invalid select {
  border-color: var(--primary-red);
}
.wrapper--invalid input:focus,
.wrapper--invalid textarea:focus {
  box-shadow: 0px 0px 10px -2px var(--primary-red);
}
