.wrapper {
  display: flex;
  flex-direction: column;
  margin-bottom: 0.5rem;
}

.label,
.feedback {
  margin-bottom: 0.5rem;
  color: var(--primary-black);
  opacity: 0.6;
}

.label {
  font-weight: bold;
}

.feedback {
  margin-top: 0.25rem;
}

.input,
.select {
  padding: 0.5rem 1.5rem;
  border-radius: 0.5rem;
  border: var(--primary-grey) 1px solid;
  line-height: inherit;
  font: inherit;
}

.select {
  /* remove default chevron */
  -moz-appearance: none;
  -webkit-appearance: none;
  /* add new chevron */
  background-repeat: no-repeat;
  background-size: 1rem;
  background-position: right 1rem top 0.75rem;
}

.input:focus,
.select:focus {
  box-shadow: 0px 0px 10px -2px var(--primary-grey);
  outline: none;
}

.input::placeholder {
  font: inherit;
  color: var(--primary-black);
  opacity: 0.4;
}

/* .wrapper--valid .label,
.wrapper--valid .feedback {
  color: var(--primary-green);
}
.wrapper--valid input,
.wrapper--valid textarea,
.wrapper--valid select {
  border-color: var(--primary-green);
}
.wrapper--valid input:focus,
.wrapper--valid textarea:focus {
  box-shadow: 0px 0px 18px -5px var(--primary-green);
} */

.wrapper--invalid .label,
.wrapper--invalid .feedback {
  color: var(--primary-red);
}
.wrapper--invalid input,
.wrapper--invalid textarea,
.wrapper--invalid select {
  border-color: var(--primary-red);
}
.wrapper--invalid input:focus,
.wrapper--invalid textarea:focus {
  box-shadow: 0px 0px 10px -2px var(--primary-red);
}
