.button {
  font: inherit;
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 0.5rem;
  cursor: pointer;
  text-align: center;
  transition: all 0.1s linear;
  display: inline-block;
}

.button svg {
  margin-right: 0.5rem;
  font-size: 1rem;
  color: var(--primary-main-dark);
}

.button:focus {
  outline: none;
}

.button:active {
  transform: scale(0.96);
}

.button:hover,
.button:active {
  background-image: linear-gradient(rgba(0, 0, 0, 0.05) 0 0);
}

.button--primary {
  color: var(--primary-black);
  background-color: var(--primary-main);
}

.button--secondary {
  color: var(--primary-black);
  border: 1px solid var(--primary-main);
  background-color: var(--primary-white);
}
