.main {
  border-style: solid;
  border-color: var(--primary-grey);
  border-top-style: solid;
  border-top-color: var(--primary-grey-dark);
  border-radius: 50%;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
