header {
  border-bottom: 1px solid var(--primary-grey);
  background-color: var(--primary-main-light);
  position: sticky;
  top: 0;
  z-index: 1000;
}

.wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 0;
}

.nav-top-right-mobile {
  display: none;
}

@media (max-width: 900px) {
  .wrapper {
    padding: 0.5rem 0;
  }

  .nav-top-right-desktop {
    display: none;
  }
  .nav-top-right-mobile {
    display: block;
  }

  .nav-mobile-collapse {
    display: block;
  }
}

@media (max-width: 400px) {
  .wrapper {
    padding: 1rem 0;
  }
}
