.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 2000;
}

.wrapper {
  z-index: 3000;
  position: absolute;
  left: 0;
  top: 0;
  background-color: var(--primary-main-light);
  width: 60%;
  color: var(--primary-main-dark);
}

.container {
  display: flex;
  flex-direction: column;
  margin: 0 2rem 0 4rem;
  min-height: 100vh;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 1rem 0 2rem;
}

.close {
  border: none;
  background-color: transparent;
  cursor: pointer;
  color: var(--primary-main-dark);
  font-size: 3rem;
}

.close:hover {
  opacity: 0.7;
}

.nav ul li {
  margin-bottom: 1.5rem;
}

.actions {
  display: flex;
  flex-direction: column;
  margin-top: auto;
  margin-bottom: 1rem;
}

.actions li {
  margin-top: 1rem;
}

.actions li > * {
  width: 100%;
}

@media (max-width: 900px) {
  .header {
    margin-top: 0.5rem;
  }
}

@media (max-width: 768px) {
  .container {
    margin: 0 2rem;
  }
}
@media (max-width: 480px) {
  .wrapper {
    width: 100%;
  }
}
