.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  cursor: pointer;
  border: none;
  background-color: transparent;
}

.wrapper:hover {
  opacity: 0.75;
}

.row {
  width: 100%;
  background-color: currentColor;
}
