header {
  border-bottom: 1px solid var(--primary-grey);
  background-color: var(--primary-main-light);
  position: sticky;
  top: 0;
  z-index: 1000;
}

header button {
  background-color: transparent;
  outline: none;
  border: none;
  cursor: pointer;
  color: inherit;
  font-size: inherit;
}

.wrapper {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  padding: 1rem 0;
}

.logo {
  flex: 3;
  text-align: left;
  font-size: 2.5rem;
  font-weight: bold;
  color: var(--primary-main-dark);
}

.nav-mobile-left,
.nav-mobile-right {
  display: none;
  flex: 1;
  color: var(--primary-main-dark);
  font-size: 2rem;
}

.nav-mobile-right {
  text-align: right;
}

.nav-mobile-collapse {
  display: none;
  flex-basis: 100%;
}

@media (max-width: 780px) {
  .wrapper {
    justify-content: center;
  }
  .nav-desktop {
    display: none;
  }
  .nav-mobile-left,
  .nav-mobile-right {
    display: block;
  }
  .logo {
    text-align: center;
    font-size: 2rem;
  }
  .nav-mobile-collapse {
    display: block;
  }
}
