.wrapper {
  color: var(--primary-black);
  padding-bottom: 1rem;
}

.wrapper li > * {
  width: 100%;
  padding-top: 1rem;
  text-align: left;
  display: inline-block;
}

.wrapper li:not(:last-of-type) {
  padding-bottom: 1rem;
  border-bottom: var(--primary-grey) solid 1px;
}

.wrapper svg {
  color: var(--primary-main-dark);
  margin-right: 0.5rem;
  font-size: 1.25rem;
}
