.wrapper {
  display: flex;
  justify-content: center;
}

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: auto;
  height: 3rem;
  background-color: var(--primary-grey);
}
