.main-footer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: auto;
  padding: 1rem 0;
  background-color: var(--primary-grey);
}

.wrapper {
  display: flex;
  justify-content: center;
  text-align: center;
}
