:root {
  --primary-main: #b0d4fc;
  --primary-main-dark: #0659b4;
  --primary-main-light: #eff4f8;
  --primary-red: #e00000;
  --red-light: #ffa8a8;
  --primary-green: #22be45;
  --primary-white: #f9fcff;
  --primary-black: #132e4d;
  --primary-grey: #d2d6da;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Lato, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell",
    "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  line-height: 1.6;
  font-size: 1rem;
  color: var(--primary-black);
  background-color: var(--primary-white);
}

a {
  text-decoration: none;
}

a:visited {
  color: inherit;
}

ul {
  list-style-type: none;
}

#root {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  min-height: 100vh;
}
