:root {
  --primary-main: #b0d4fc;
  --primary-main-dark: #034b99;
  --primary-main-light: #eff4f8;
  --primary-white: #f9fcff;
  --primary-black: #132e4d;
  --primary-grey: #d2d6da;

  --primary-red: #e00000;
  --primary-green: #22be45;

  --danger-dark: rgb(197, 9, 9);
  --danger-light: rgb(250, 179, 179);
  --success-dark: rgb(24, 109, 24);
  --success-light: rgb(194, 233, 194);
  --info-dark: rgb(3, 75, 153);
  --info-light: rgb(176, 212, 252);
  --warning-dark: rgb(170, 111, 0);
  --warning-light: rgb(248, 218, 161);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Lato, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell",
    "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  line-height: 1.6;
  font-size: 1rem;
  color: var(--primary-black);
  background-color: var(--primary-white);
}

a {
  text-decoration: none;
}

a:visited {
  color: inherit;
}

ul {
  list-style-type: none;
}

#root {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  min-height: 100vh;
}
