.wrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 2000;
}

.container {
  position: fixed;
  left: 50%;
  transform: translateX(-50%);
  margin: 4rem auto;
  z-index: 3000;
}

.enter-animate {
  animation: fade-in 0.15s ease-in forwards;
}

.exit-animate {
  animation: fade-in reverse 0.15s ease-in forwards;
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
