.wrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 2000;
}

.container {
  position: fixed;
  left: 50%;
  transform: translate(-50%, 0);
  margin: 4rem auto;
  z-index: 3000;
  /* animation: slide-down 300ms ease-out forwards; */
}

.body-disable-scroll {
  overflow: hidden;
}

.enterStart {
  opacity: 0;
}

.enterInProgress {
  animation: fade-in 0.2s ease-in forwards;
}

.exitInProgress {
  animation: fade-in reverse 0.2s ease-in forwards;
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* @keyframes slide-down {
  from {
    opacity: 0;
    transform: translate(-50%, -2rem);
  }
  to {
    opacity: 1;
  }
} */
